*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
a:link{
  color: #2C2C2C;
}
a:visited{
  color: #2C2C2C;
}

body{
  background-color: #fff;
  width: 100%;
}

.flex{
  display: flex;
}
.flex-wrap{
  display: flex;
      flex-wrap: wrap
}
.flex-center{
  display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center li{
  text-align: center;
}

.divDetail{
  padding: 5%;
}

.divDetail *{
  margin: 3% 0;
}

.pad-5{
  padding: 5%;
}

.pad-5px{
  padding: 5px;
}

.pad-5 p{
  margin: 0 10px;
}

.black{
  color: black;
}
.white{
  color: white;
}
.borderRad-5{
  border-radius: 5px;
}

.divCargando{
      justify-content: center;
      align-items: center;
}

.cargando{
  width: 70px;
  padding: 10px;
}

.tamanioLogo{
  width: 150px;
  padding: 10px;
  margin-left: 20px;
}

.colorApp{
  margin: 0 35px;
  padding: 60px 40px 0;
}

.headerContainer{
    justify-content: space-between;
  background-color: #fafafa;
}

ul{
padding: 0 25px;
}

li{
margin: 10px 25px;
justify-content: center;
align-items: center;
}

li a{
text-decoration: none;
color: #5b606e;
font-size: 20px;
font-weight: bold;
}

.tarjeta{
      flex-direction: column;
  width: 21%;
  border: 1px solid #002e5e;
  background-color: #ffffff;
  margin: 20px auto 40px;
}

.tarjeta:hover{
  box-shadow: gray 1px 1px 15px;
}

.contador{
      justify-content: space-between;
      align-items: center;
  width: 80%;
  border: 1px solid #002e5e;
  background-color: #fafafa;
  margin: 0 auto 10px;
  max-width: 200px;
}

.boton{
  font-size: 32px;
  background-color: #fafafa;
  border: 0;
  padding: 0 10px;
  margin: 0 5%;
}

.agregar{
  justify-content: space-between;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid rgb(38, 0, 255);
  font-size: 18px;
  margin: 10px auto;
  width: 85%;
  max-width: 200px;
}

.img{
  height: 100%;
  margin: auto;
}

.imgConteiner{
      justify-content: center;
      align-items: center;
  height: 60%;
}

.presentacion{
      flex-direction: column;
      justify-content: space-between;
  width: 75%;
  height: 300px;
  margin: 20px auto;
  text-align: center;
}

.frase{
  width: 60%;
  margin: 20px auto;
  text-align: center;
}

.detail{
  margin: 0;
}

.imgDetail{
  width: 486px;
  border: 1px solid black;
  border-radius: 20px;
}

.border-down{
  border-bottom: 1px solid black;
}

.cartPrice{
  font-size: 26px;
}

.cartImg{
  width: 100px;
}

.w-10{
  width: 10%;
}

.w-25{
  width: 25%;
}

.w-50{
  width: 50%;
}

.w-75{
  width: 75%;
}

.w-80{
  width: 80%;
}

.w-90{
  width: 90%;
}

.w-100{
  width: 100%;
}

.p-3{
  padding: 3%;
}

.p-1{
  padding: 1%;
}

.m-auto{
  margin: 0 auto;
}

.m-20{
  margin: 5%;
}

.m-left{
  margin-right: 30px;
  align-items: left;
}

.background-white{
  background-color: white;
}

.flex-column{
  display: flex;
    flex-direction: column;
}

.header-conteiner .flex-center button{
  margin: 5px;
}

.radius-50{
  background: transparent;
  border: none;
}

.height{
  height: 160px;
  box-sizing: border-box;
}

.btn-count{
  width: 100px;
}

.center{
  justify-content: center;
  align-items: center;
}

.btn{
  color: #2C2C2C ;
  background: transparent;
  border: 1px solid #2C2C2C ;
  border-radius: 6px;
  padding: 8px 14px;
  text-shadow: 0 -1px 0 rgba(255,255,255,.5);
  box-shadow: 0 1px 0 rgba(0,0,0,.5) inset;
  font-size: 14px;
}
.btn:hover {
  background-color: #2C2C2C ;
  color: white;
}
.btn:disabled {
  background-color: transparent ;
  color: rgb(238, 237, 237);
}

.btn1{
  color: #2C2C2C ;
  background: transparent;
  border: 1px solid #2C2C2C ;
  border-radius: 6px;
  padding: 4px 8px;
  font-size: 18px;
}
.btn1:hover {
  background-color: #2C2C2C ;
  color: white;
}

.btn1-red{
  color: #bb0000 ;
  background: transparent;
  border: 1px solid #bb0000 ;
  border-radius: 4px;
  padding: 2px 6px;
}
.btn1-red:hover {
  background-color: #bb0000 ;
  color: white;
}

.form-users{
    padding: 20px 15px;
    margin: 0 auto;
}
.form-users input{
    margin-bottom: 15px;
    background-color: #f8f9fa;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
    border: .5px solid #e7e7e7;
    border-radius: 4px;
    resize: none;
}

.loading{
  display: flex;
    justify-content: center;
    align-items: center;
  width: 15%;
  margin: 10% auto;
}

.total{
  font-size: 25px;
  margin: 15px;
}
.cart{
  margin: 30px auto;
}
.mensaje{
  margin: 5% 10%;
}

.error{
  font-size: 10px;
  color: red;
}